@use "./font";
@use "./reset";
@use "./root";

/*-------------------
LAYOUT
---------------------*/

body {
  font-family: var(--ff-primary);
}

.my-container {
  padding: 0 var(--container-width);
}

/*-------------------
OVERRIDE BOOTSTRAP
---------------------*/

#main {
  .collapsing {
    transition: 0.1s;
}

  .my-nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--clr-black);
    display: inline-block;
    margin-top: 0;
    padding-top: var(--nav-top);
  }

  .navbar-toggler {
    color: transparent;
    border: 0;
  }

  .nav-link {
    position: relative;

    color: var(--clr-white);
    font-size: var(--fs-text);
    line-height: var(--lh-text);

    text-decoration: none;
  }


  @media (min-width: 90rem) {
    #basic-navbar-nav {
      justify-content: flex-end;
    }
  
    .navbar-collapse {
      flex-grow: 0;
    }
  

    .nav-link:not(:first-child) {
      margin-left: 2rem;
    }
  
    .nav-link:hover:after {
      content: "";
      position: absolute;
      bottom: -0.1rem;
      left: 50%;
      transform: translateX(-50%);
      width: 50%;
      height: 0.125rem;
      background-color: var(--clr-white);
    }
  }
}

/*-------------------
COMMON
---------------------*/

.h1-like {
  font-family: var(--ff-secondary);
  font-weight: var(--fw-300);
  font-size: var(--fs-h1);
  line-height: var(--lh-h1);
}

.h1-light {
  color: var(--clr-white);
}

.h1-upper {
  text-transform: uppercase;
}

/*-------------------
COMPONENT
---------------------*/

.main {
  &__nav {
    margin-top: var(--nav-top);
  }
}

.hero {
  min-height: 40.625rem;

  display: flex;
  justify-content: flex-start;
  align-items: center;

  background-image: url("../../images/mobile/image-hero.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;

  &__content {
    max-width: var(--hero-content);
    border: 2px solid #ffffff;
    padding: 1.5rem 1.5rem;
  }
}
@media (min-width: 90em) {
  .hero {
    background-image: url("../../images/desktop/image-hero.jpg");
  }
}
