@use "./font";
@use "./reset";
@use "./root";

/*-------------------
LAYOUT
---------------------*/

body {
  font-family: var(--ff-primary);
}

/*-------------------
OVERRIDE BOOTSTRAP
---------------------*/

#main {
  #basic-navbar-nav {
    justify-content: flex-end;
  }
}

/*-------------------
COMMON
---------------------*/

.h1-like {
  font-family: var(--ff-secondary);
  font-weight: var(--fw-300);
  font-size: var(--fs-h1);
  line-height: var(--lh-h1);
}

.h1-light {
  color: var(--clr-white);
}

.h1-upper {
  text-transform: uppercase;
}

/*-------------------
COMPONENT
---------------------*/

.main {
  &__nav {
    margin-top: 1.5rem;
  }
}

.hero {
  min-height: 40.625rem;
  padding: 2.5rem 1.5rem;

  display: flex;
  justify-content: center;
  align-items: center;

  background-image: url("../../images/mobile/image-hero.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;

  &__content {
    border: 2px solid #ffffff;
    padding: 1.5rem 1.5rem;
  }
}
