:root {
  --ff-primary: "Alata", sans-serif;
  --ff-secondary: "Josefin Sans", sans-serif;

  --clr-white: hsl(0, 0%, 100%);
  --clr-black: hsl(0, 0%, 0%);
  --clr-dark-gray: hsl(0, 0%, 55%);
  --clr-very-dark-gray: hsl(0, 0%, 41%);

  --fw-400: 400;
  --fw-300: 300;

  --fs-h1: 2.5rem;
  --lh-h1: 2.375rem;

  @media (min-width: 90em) {
    --fs-h1: 4.5rem;
    --lh-h1: 4.375rem;
  }
}
